<% if signed_in? %>

<table class="front" summary="For signed-in users">
  <tr>
    <td class="main">
      <h1 class="micropost">What's up?</h1>
      <%= render 'shared/micropost_form' %>
      <%= render 'shared/feed' %>
    </td>
    <td class="sidebar round">
      <%= render 'shared/user_info' %>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>

<% else %>


<h2>The idea behind Maarfy:<br/>
 An inherently private, free, clean, easy-to-use social interaction tool.</h2> <br/>
<h3>1- Complete privacy in your social interactions. <br/>
2- Share your photos, videos, links and words with exactly whom you want. <br/>
3- Create dynamic networks to encompass different groups of people (e.g work, life and family) and get in control of your interactions. <br/>
4- Create a special "arena" to interact with people you regularly communicate with (e.g spouse/sibling/ best friend).<br/>
</h3>
<p>
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round"%>

 

<% end %>